body {
  text-align: center;
  background-color: #011F3F;
}


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin-top:  5%;
  margin-bottom: 3%;
  color: #FEF2BF;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btnpc{
  display: none;
}

.btns{
  margin-top: 50px;
  display: inline-block;
  height: 40px;
  width: 169px;
  border-radius: 10%;
  display: inline-block;
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  margin: auto;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}



/* footer section */

#footer{
  bottom: 10px;
  text-align: center;
  color: white;
  margin-top: 150px;
}
